In [1]:
# Import dependencies 
import pandas as pd
import datetime

In [41]:
# Read in csv
df = pd.read_csv("us_disaster_declarations.csv")
df

,fema_declaration_string,disaster_number,state,declaration_type,declaration_date,fy_declared,incident_type,declaration_title,ih_program_declared,ia_program_declared,...,incident_begin_date,incident_end_date,disaster_closeout_date,fips,place_code,designated_area,declaration_request_number,hash,last_refresh,id
0,DR-1-GA,1,GA,DR,1953-05-02T00:00:00Z,1953,Tornado,Tornado,0,1,...,1953-05-02T00:00:00Z,1953-05-02T00:00:00Z,1954-06-01T00:00:00Z,13000,0,Statewide,53013,bb121323c9c29d3bef0c9a3f134bfd8b5ecff148,2021-07-13T23:01:19Z,60c3b7a9a0ee349d71025780
1,DR-2-TX,2,TX,DR,1953-05-15T00:00:00Z,1953,Tornado,Tornado & Heavy Rainfall,0,1,...,1953-05-15T00:00:00Z,1953-05-15T00:00:00Z,1958-01-01T00:00:00Z,48000,0,Statewide,53003,c879557e78d059e6847e7688388c339d10f51979,2021-07-13T23:01:19Z,60c3b7a9a0ee349d71025783
2,DR-3-LA,3,LA,DR,1953-05-29T00:00:00Z,1953,Flood,Flood,0,1,...,1953-05-29T00:00:00Z,1953-05-29T00:00:00Z,1960-02-01T00:00:00Z,22000,0,Statewide,53005,4fb19699fdbba1387ffa2263fcc4a4e37a1de6d6,2021-07-13T23:01:19Z,60c3b7a9a0ee349d71025777
3,DR-4-MI,4,MI,DR,1953-06-02T00:00:00Z,1953,Tornado,Tornado,0,1,...,1953-06-02T00:00:00Z,1953-06-02T00:00:00Z,1956-02-01T00:00:00Z,26000,0,Statewide,53004,87a0c1dd5da249767f545e0c0a43f917e4e9ca83,2021-07-13T23:01:19Z,60c3b7a9a0ee349d7102577a
4,DR-5-MT,5,MT,DR,1953-06-06T00:00:00Z,1953,Flood,Floods,0,1,...,1953-06-06T00:00:00Z,1953-06-06T00:00:00Z,1955-12-01T00:00:00Z,30000,0,Statewide,53006,954449c15634fb45c8bea3ac975782793ccde050,2021-07-13T23:01:19Z,60c3b7a9a0ee349d71025774
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61994,FM-5402-NV,5402,NV,FM,2021-07-22T20:50:00Z,2021,Fire,Tamarack Fire,0,0,...,2021-07-22T17:50:00Z,NaN,NaN,32005,99005,Douglas (County),21059,a73f5148145089d0a13e606189d5c51d10e6ffb8,2021-07-23T18:22:03Z,60fb08cb5d037ccb7dbcd8aa
61995,FM-5403-MT,5403,MT,FM,2021-07-28T15:17:00Z,2021,Fire,Poverty Flats Fire,0,0,...,2021-07-28T00:01:00Z,NaN,NaN,30003,99003,Big Horn (County),21060,53e5ba2c5f460782c52c9d9e4d8db2c87d05ea49,2021-07-30T14:42:13Z,61040fc5434e34d5ee626998
61996,FM-5403-MT,5403,MT,FM,2021-07-28T15:17:00Z,2021,Fire,Poverty Flats Fire,0,0,...,2021-07-28T00:01:00Z,NaN,NaN,30000,18325,Crow Indian Reservation,21060,46866c41a71b7b5b79f59d5ed98a977d46cd169a,2021-07-30T14:42:13Z,61040fc5434e34d5ee62699a
61997,FM-5404-HI,5404,HI,FM,2021-08-01T07:00:00Z,2021,Fire,Mana Road Fire,0,0,...,2021-08-01T04:07:15Z,NaN,NaN,15001,99001,Hawaii (County),21061,db230a2cc0c43355bd667e466a4a1c6281b699f2,2021-08-02T17:01:57Z,61082505434e34d5eeab355a
61998,FM-5405-CA,5405,CA,FM,2021-08-05T02:22:00Z,2021,Fire,River Fire,0,0,...,2021-08-04T15:32:00Z,NaN,NaN,6061,99061,Placer (County),21063,48e3aa738b74f5846d41400f4c796f891f82825b,2021-08-06T15:02:01Z,610d4ee9434e34d5eefb96f1

In [43]:
df["declaration_date"] = pd.to_datetime(df["declaration_date"]).dt.date

In [44]:
df.head()

,fema_declaration_string,disaster_number,state,declaration_type,declaration_date,fy_declared,incident_type,declaration_title,ih_program_declared,ia_program_declared,...,incident_begin_date,incident_end_date,disaster_closeout_date,fips,place_code,designated_area,declaration_request_number,hash,last_refresh,id
0,DR-1-GA,1,GA,DR,1953-05-02,1953,Tornado,Tornado,0,1,...,1953-05-02T00:00:00Z,1953-05-02T00:00:00Z,1954-06-01T00:00:00Z,13000,0,Statewide,53013,bb121323c9c29d3bef0c9a3f134bfd8b5ecff148,2021-07-13T23:01:19Z,60c3b7a9a0ee349d71025780
1,DR-2-TX,2,TX,DR,1953-05-15,1953,Tornado,Tornado & Heavy Rainfall,0,1,...,1953-05-15T00:00:00Z,1953-05-15T00:00:00Z,1958-01-01T00:00:00Z,48000,0,Statewide,53003,c879557e78d059e6847e7688388c339d10f51979,2021-07-13T23:01:19Z,60c3b7a9a0ee349d71025783
2,DR-3-LA,3,LA,DR,1953-05-29,1953,Flood,Flood,0,1,...,1953-05-29T00:00:00Z,1953-05-29T00:00:00Z,1960-02-01T00:00:00Z,22000,0,Statewide,53005,4fb19699fdbba1387ffa2263fcc4a4e37a1de6d6,2021-07-13T23:01:19Z,60c3b7a9a0ee349d71025777
3,DR-4-MI,4,MI,DR,1953-06-02,1953,Tornado,Tornado,0,1,...,1953-06-02T00:00:00Z,1953-06-02T00:00:00Z,1956-02-01T00:00:00Z,26000,0,Statewide,53004,87a0c1dd5da249767f545e0c0a43f917e4e9ca83,2021-07-13T23:01:19Z,60c3b7a9a0ee349d7102577a
4,DR-5-MT,5,MT,DR,1953-06-06,1953,Flood,Floods,0,1,...,1953-06-06T00:00:00Z,1953-06-06T00:00:00Z,1955-12-01T00:00:00Z,30000,0,Statewide,53006,954449c15634fb45c8bea3ac975782793ccde050,2021-07-13T23:01:19Z,60c3b7a9a0ee349d71025774

In [45]:
df["declaration_date"] = pd.to_datetime(df["declaration_date"])

In [46]:
df["incident_begin_date"] = pd.to_datetime(df["incident_begin_date"]).dt.date

In [47]:
df["incident_begin_date"] = pd.to_datetime(df["incident_begin_date"])

In [48]:
df.dtypes

fema_declaration_string               object
disaster_number                        int64
state                                 object
declaration_type                      object
declaration_date              datetime64[ns]
fy_declared                            int64
incident_type                         object
declaration_title                     object
ih_program_declared                    int64
ia_program_declared                    int64
pa_program_declared                    int64
hm_program_declared                    int64
incident_begin_date           datetime64[ns]
incident_end_date                     object
disaster_closeout_date                object
fips                                   int64
place_code                             int64
designated_area                       object
declaration_request_number             int64
hash                                  object
last_refresh                          object
id                                    object
dtype: object

In [4]:
# remove last refresh
# convert columns to datetypes
# drop na's

In [49]:
df.isna().sum()

fema_declaration_string           0
disaster_number                   0
state                             0
declaration_type                  0
declaration_date                  0
fy_declared                       0
incident_type                     0
declaration_title                 0
ih_program_declared               0
ia_program_declared               0
pa_program_declared               0
hm_program_declared               0
incident_begin_date               0
incident_end_date              8413
disaster_closeout_date        15209
fips                              0
place_code                        0
designated_area                   0
declaration_request_number        0
hash                              0
last_refresh                      0
id                                0
dtype: int64

In [6]:
# might not be able to look at length of disaster

In [50]:
df = df.drop(["incident_end_date", "disaster_closeout_date"], axis=1)

In [51]:
df.isna().sum()

fema_declaration_string       0
disaster_number               0
state                         0
declaration_type              0
declaration_date              0
fy_declared                   0
incident_type                 0
declaration_title             0
ih_program_declared           0
ia_program_declared           0
pa_program_declared           0
hm_program_declared           0
incident_begin_date           0
fips                          0
place_code                    0
designated_area               0
declaration_request_number    0
hash                          0
last_refresh                  0
id                            0
dtype: int64

In [52]:
# Number of natural diasters by state
df.groupby(["state"]).size()

state
AK     302
AL    1650
AR    1588
AS      75
AZ     327
CA    1446
CO     644
CT     238
DC      23
DE      52
FL    2065
FM      31
GA    2269
GU      19
HI      98
IA    1823
ID     355
IL    1268
IN    1451
KS    1682
KY    2511
LA    2299
MA     392
MD     448
ME    1010
MH      53
MI     793
MN    1498
MO    2670
MP      63
MS    1736
MT     590
NC    1984
ND    1303
NE    1423
NH     294
NJ     583
NM     500
NV     273
NY    1422
OH    1281
OK    2461
OR     582
PA    1226
PR    1826
PW       1
RI     102
SC     855
SD    1382
TN    1560
TX    5164
UT     247
VA    2493
VI      79
VT     314
WA     925
WI     892
WV    1230
WY     128
dtype: int64

In [53]:
#59 states? - incudles US territories
len(df.groupby(["state"]).size())

59

In [9]:
# number of incidents by type
df.groupby(["incident_type"]).size()

incident_type
Biological           7853
Chemical                9
Coastal Storm         570
Dam/Levee Break        13
Drought              1292
Earthquake            227
Fire                 3527
Fishing Losses         42
Flood               10454
Freezing              301
Human Cause             7
Hurricane           12005
Mud/Landslide          36
Other                 300
Severe Ice Storm     2942
Severe Storm(s)     17065
Snow                 3664
Terrorist               5
Tornado              1488
Toxic Substances        9
Tsunami                 9
Typhoon               130
Volcano                51
dtype: int64

In [57]:
df.drop(df[df["incident_type"]=="Other"].index, inplace = True)

In [58]:
df.groupby(["incident_type"]).size()

incident_type
Biological           7853
Chemical                9
Coastal Storm         570
Dam/Levee Break        13
Drought              1292
Earthquake            227
Fire                 3527
Fishing Losses         42
Flood               10454
Freezing              301
Human Cause             7
Hurricane           12005
Mud/Landslide          36
Severe Ice Storm     2942
Severe Storm(s)     17065
Snow                 3664
Terrorist               5
Tornado              1488
Toxic Substances        9
Tsunami                 9
Typhoon               130
Volcano                51
dtype: int64

In [59]:
df.to_csv("diaster_data_clean.csv", index = False)