In [28]:
from sqlalchemy import create_engine
import pandas as pd
import psycopg2 as pg
import pandas.io.sql as psql

In [29]:
conn = pg.connect(
   database="postgres", user='postgres', password='group7_db', host='diasterdb2.cbyvxmyzmzyh.us-east-2.rds.amazonaws.com', port= '5432'
)

In [39]:
cursor = conn.cursor()
cursor.execute('select * from "FPIS"')
rows = cursor.fetchall()

#cursor.execute("""SELECT table_name FROM information_schema.tables
#       WHERE table_schema = 'public'""")
#tables = [i[0] for i in cursor.fetchall()] # A list() of tables.
#tables

InternalError: current transaction is aborted, commands ignored until end of transaction block

In [22]:
#df = product_category = psql.read_sql_query('select * from FPIS', conn)
df = pd.read_sql_query('SELECT * FROM "USStates"',conn)

DatabaseError: Execution failed on sql 'SELECT * FROM "USStates"': relation "USStates" does not exist
LINE 1: SELECT * FROM "USStates"
                      ^

In [1]:
import pandas as pd
import pymysql

In [12]:
host='diasterdb2.cbyvxmyzmzyh.us-east-2.rds.amazonaws.com'
port=5432
dbname="AWS_DisasterDB"
user="postgres"
password="group7_db"

#pymysql.connect('diasterdb2.cbyvxmyzmzyh.us-east-2.rds.amazonaws.com', 'postgres', 'group7_db')

In [ ]:
pd.read_sql('select * from "USStates"', con=conn)

In [5]:
!pip install PyMySQL

Collecting PyMySQL
  Using cached PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.0.2

In [6]:
import pymysql

In [14]:
con = pymysql.connect(host=host,
        user=user,
        password=password,
        db=dbname,
        charset='utf8mb4', connect_timeout = 1000,
                     port = port)

OperationalError: (2013, 'Lost connection to MySQL server during query')

In [17]:
con.execute('set max_allowed_packet=67108864')

NameError: name 'con' is not defined